<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/layout/header :: header}"></div>

<!--인기 게시글-->
<main class="popular">
	<div class="exploreContainer">

		<!--인기게시글 갤러리(GRID배치)-->
		<div class="popular-gallery">

			<div class="p-img-box">
				<a th:href="@{/user/profile}"> <img th:src="@{/images/defaultStory.png}" />
				</a>
			</div>
			<div class="p-img-box">
				<a th:href="@{/user/profile}"> <img th:src="@{/images/defaultStory.png}" />
				</a>
			</div>
			<div class="p-img-box">
				<a th:href="@{/user/profile}"> <img th:src="@{/images/defaultStory.png}" />
				</a>
			</div>
			<div class="p-img-box">
				<a th:href="@{/user/profile}"> <img th:src="@{/images/defaultStory.png}" />
				</a>
			</div>
			<div class="p-img-box">
				<a th:href="@{/user/profile}"> <img th:src="@{/images/defaultStory.png}" />
				</a>
			</div>
			<div class="p-img-box">
				<a th:href="@{/user/profile}"> <img th:src="@{/images/defaultStory.png}" />
				</a>
			</div>
			<div class="p-img-box">
				<a th:href="@{/user/profile}"> <img th:src="@{/images/defaultStory.png}" />
				</a>
			</div>
		</div>
	</div>
</main>

<div th:replace="~{layout/footer :: footer}"></div>

</html>





