<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/layout/header :: header}"></div>

<!--프로필 섹션-->
<section class="profile">
	<!--유저정보 컨테이너-->
	<div class="profileContainer">

		<!--유저이미지-->
		<div class="profile-left">
			<div class="profile-img-wrap story-border"
				 onclick="popup('.modal-image')">
				<form id="userProfileImageForm">
					<input type="file" name="profileImageFile" style="display: none;"
						   id="userProfileImageInput" />
				</form>

				<img class="profile-image" th:src="@{/upload/} + ${dto.user.profileImageUrl}" onerror="this.src='/images/defaultImage.png'" id="userProfileImage" />
			</div>
		</div>
		<!--유저이미지end-->

		<!--유저정보 및 사진등록 구독하기-->
		<div class="profile-right">
			<div class="name-group">
				<h2 th:text=${dto.user.name}></h2>

				<button th:if="${dto.pageUserState}" class="cta" onclick="location.href='/image/upload'" >이미지 추가</button>

				<div th:unless="${dto.pageUserState}">
					<button th:if="${dto.followState}" class="cta blue" th:onclick="toggleSubscribe([[ ${dto.user.id} ]], this)">언팔로우</button>
					<button th:unless="${dto.followState}" class="cta" th:onclick="toggleSubscribe([[ ${dto.user.id} ]], this)">팔로우</button>
				</div>

				<button class="modi" onclick="popup('.modal-info')">
					<i class="fas fa-cog"></i>
				</button>
			</div>

			<div class="subscribe">
				<ul>
					<li><a href=""> 게시물<span th:text=${dto.imageCount}></span>
					</a></li>
					<li><a th:onclick="javascript:subscribeInfoModalOpen([[ ${dto.user.id} ]])"> 팔로잉<span th:text="${dto.followCount}"></span>
					</a></li>
				</ul>
			</div>
			<div class="state">
				<h4 th:text=${dto.user.bio}></h4>
				<h4 th:text=${dto.user.website}></h4>
			</div>
		</div>
		<!--유저정보 및 사진등록 구독하기-->

	</div>
</section>

<!--게시물컨섹션-->
<section id="tab-content">
	<!--게시물컨컨테이너-->
	<div class="profileContainer">
		<!--그냥 감싸는 div (지우면이미지커짐)-->
		<div id="tab-1-content" class="tab-content-item show">
			<!--게시물컨 그리드배열-->
			<div class="tab-1-content-inner">

				<!--아이템들-->
				<div th:each="image : ${dto.user.images}">
					<div class="img-box">
						<a href="">
							<img class="subscribe-image" th:src="@{/upload/} + ${image.imageUrl}"/>
						</a>
						<div class="comment">
							<a href="#" class=""> <i class="fas fa-heart"></i><span>0</span></a>
						</div>
					</div>
				</div>
				<!--아이템들end-->

			</div>
		</div>
	</div>
</section>

<!--로그아웃, 회원정보변경 모달-->
<div class="modal-info" onclick="modalInfo()">
	<div class="modal">
		<button th:onclick="|location.href='/user/${sessionId}/update'|">회원정보 변경</button>
		<button th:onclick="|location.href='@{/logout}'|">로그아웃</button>
		<button onclick="closePopup('.modal-info')">취소</button>
	</div>
</div>
<!--로그아웃, 회원정보변경 모달 end-->

<!--프로필사진 바꾸기 모달-->
<div class="modal-image" onclick="modalImage()">
	<div class="modal">
		<p>프로필 사진 바꾸기</p>
		<button th:onclick="profileImageUpload()">사진 업로드</button>
		<button onclick="closePopup('.modal-image')">취소</button>
	</div>
</div>

<!--프로필사진 바꾸기 모달end-->

<div class="modal-subscribe">
	<div class="subscribe">
		<div class="subscribe-header">
			<span>구독정보</span>
			<button onclick="modalClose()">
				<i class="fas fa-times"></i>
			</button>
		</div>

		<div class="subscribe-list" id="subscribeModalList">

		</div>
	</div>
</div>

<script th:src="@{/js/profile.js}"></script>

<div th:replace="~{layout/footer :: footer}"></div>
</html>

